.box-one, .box-two, .box-three, .box-four {
    height: 400px;
}

.box-one {
    margin-top: 50px;
}

.test-text {
    display: none;
}

.button.btn-style {
    border: 1px solid #c1ab62;
    background: #c1ab62;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-top: 10px;
}

img.img-shop {
    width: 100%;
    height: 300px;
}


.text {
    font-size: 18px;
}

.section-text h1 p {
    line-height: 1.5;
}

.btn-container {
    padding: 20px 0px;
}

